.AboutBox {
    display: flex;
    flex-direction: column;
}


.TopAboutBox {
    background-color: #FF6060   ;
    width: 80%;
    border-radius: 10px;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.AboutBoxArrow {
    width: 10%;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

.TittleAboutBox {     
    color: white;
    font-family: 'Montserrat';
    width: 90%;
    font-size: 24px;
    padding-left: 10px;
}

.MoreAboutBox {
    color: #FF6060;
    text-decoration: none;     
    font-family: 'Montserrat';
}

.BottomAboutBox {
    background-color: #F6F6F6;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

